<form action="/shelters" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a New Shelter:</p>
  <label for='name'>Shelter Name:</label><br>
  <input type='text' name='shelter[name]'/><br/>
  <label for='name'>Address:</label><br>
  <input type='text' name='shelter[address]'/><br/>
  <label for='name'>City:</label><br>
  <input type='text' name='shelter[city]'/><br/>
  <label for='name'>State:</label><br>
  <input type='text' name='shelter[state]'/><br/>
  <label for='name'>Zipcode:</label><br>
  <input type='text' name='shelter[zip]'/><br/>
  <input type='submit' value='Create Shelter'/>
</form>
