<h3>Add a New Pet:</h3>
<form action="/shelters/<%= @shelter.id %>/pets" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for='pname'>Pets Name:</label><br>
  <input type='text' name='pet[name]'/><br/>
  <label for='image'>Image:</label><br>
  <input type='text' name='pet[image]'/><br/>
  <label for='description'>Description:</label><br>
  <input type='text' name='pet[description]'/><br/>
  <label for='age'>Approximate Age:</label><br>
  <input type='text' name='pet[approximate_age]'/><br/>
  <label for='sex'>Sex:</label>
  <select id='sex' name='sex'>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select><br>
  <input type='submit' value='Add Pet'/>
</form>
